doctype html
html
  head
    include ../head.jade
  body
    include ../calculator-form-with-relief.jade
    script(src='https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.18/require.min.js')
    script(src='js/with-relief/config.js')
    script(src='js/calculator-form-listener.js')