doctype html
html
  head
    include ../head.jade
  body
    include ./calculator-form-with-conversion.jade
    script(src='https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.18/require.min.js')
    script(src='js/with-conversion/config.js')
    script(src='js/calculator-form-listener.js')