#calculator.div {
    float: left;
    clear: both;
}

#calculator input {
    text-align: right;
    margin-left: 10px;
    width: 130px;
}

#neto, #expenses, #jpy {
    text-align: right;
    margin-left: 10px;
    width: 130px;
}
