doctype html
html
  head
    include ./head.jade
  body
    include ./calculator.jade
    script(src='https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.18/require.min.js')
    script(src='js/ajax-config.js')
    script(src='js/calculator.js')
