div#calculator
  form
    table
      tr
        td Bruto:
        td
          input(type='text', maxlength='10')#bruto
      tr
        td Persons:
        td
          input(type='text')#persons
      tr
        td Neto:
        td
          div#neto
